body {
  margin: 0;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 2rem;
}

aside a {
  display: block;
  margin: 1rem;
  font-size: 18px;
}

.main_container {
  display: grid;
  grid-template-columns: 300px auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 200px;
}

footer a {
  color: white;
}
